.navbar {
  font-size: 0.875rem;
  height: 5.125rem;
}
.navbar-left > div,
.navbar-right > div {
  cursor: pointer;
}
@media (max-width: 859px) {
  .navbar-desktop-view {
    display: none !important;
  }
  .navbar-mobile-view {
    display: block !important;
  }
}
